body{
    background-color: skyblue;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background: #dee9ff;
    max-width: 600px;
    margin: auto;
    padding: 50px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 45px 45px 60px 60px rgba(196, 6, 6, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #7c96ca;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}